__pycache__/
*.db
Caddyfile
GASOLEX_V6.xlsx
gasolex_parametros.py
Gasolex10.py
Gasolex11.py
actualizador_claro.py
actualizador_final.py
app_V5.py
app_V6.py
app_v1.py
app_v2.py
app_v3.py
app_v4.py
gasolex1.py
gasolex2.py
gasolex3.py
gasolex4.py
gasolex5.py
gasolex6.py
gasolex7.py
gasolex8.py
gasolex9.py
archivo/